# --- MARIADB ---
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ADMIN_PASS=

# --- NGINX / WORDPRESS ---
DOMAIN_NAME=pchazalm.42.fr

# --- COMPTE ADMIN WORDPRESS ---
WP_USER=
WP_PASS=
WP_MAIL=

# --- SECOND COMPTE WORDPRESS (auteur/éditeur) ---
WP_USER2=
WP_PASS2=
WP_MAIL2=
